<h1>Home#index</h1>
<p>Login</p>

<%= link_to "Sair", destroy_user_session_path, method: :delete %>
<%= link_to "Perfil", edit_user_registration_path %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>